.App {
  text-align: center;
}

.HomeContainer {
  align-items: center;

}

.BetsContainer {
  display: flex!important;
  align-items: center!important;
  justify-content: space-between!important;

}

.SportsBookContainer {
  display: flex!important;
  align-items: center!important;
  justify-content: space-between!important;
  width: 100vh;
  gap: 50px;
}

.BetCard {
  width: 400PX;
  align-items: center;
  margin: auto;

}

.EDButtons {
  margin-left: 10px;
}


